body {
    color: rgb(255, 255, 255);
	background: url(/media/main.gif) repeat-y center center fixed;
	background-color: rgb(51, 50, 50);
	font-family: DejaVu Sans Mono, monospace;
	font-size: 65px;
    padding-top: 5em;
    padding: 150px 20px;
}

#container {
	color: rgb(255, 255, 255);
	font-size: 22px;
	margin-bottom: -2px;
}

#text {
	display: inline-block;
	color: rgb(226, 216, 219);
	font-size: 22px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 25px;
	background-color: rgb(255, 220, 19);
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: rgb(255, 220, 19); 
	}
}

.tags {
	display: inline-flex;
	margin-top: 0rem;
}

.tag img {
	margin-right: 0.5rem;
}

.tag img:hover {
	display: inline-block;
	cursor: pointer;
}
