body {
    color: rgb(255, 221, 109);
	background: url(/media/novaskin.png) center fixed;
	background-color: rgb(51, 50, 50);
	font-size: 62px;
    padding-top: 5em;
    padding: 150px 20px;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

#container {
	color: rgb(255, 255, 255);
	font-size: 20px;
	margin-bottom: -2px;
}

#text {
	display: inline-block;
	color: rgb(255, 255, 255);
	font-size: 20px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 25px;
	background-color: rgb(255, 220, 19);
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: rgb(255, 220, 19); 
	}
}

.tags {
	display: inline-flex;
	margin-top: 0rem;
}

.tag img {
	margin-right: 0.5rem;
}

.tag img:hover {
	display: inline-block;
	cursor: pointer;
}
