@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
	font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
	background: #7289da;
	font-weight: bold;
	font-size: 22px;
	padding: 200px 20px;
}
p {
	color: #ffffff;
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
}
p.r {
	color: #ffffff;
	font-size: 16px;
}
.contents {
	text-align: center;
}
a {
	display: inline-block;
	padding: 1px;
	border-radius: 20px;
	font-size: 20px;
	margin-bottom: 20px;
  }
  a > span {
	display: inline-block;
	padding: 0 15px;
	height: 40px;
	background: #ffffff;
	line-height: 40px;
	border-radius: 18px;
  }
  a > span > span {
	background: #7289da;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#container {
	margin-bottom: 20px;
}
#text {
	display: inline-block;
	color: #ffffff;
	font-size: 22px;
}
#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 24px;
	background-color: #ffffff;
	animation: blink .75s step-end infinite;
}
img {
	padding: 10px;
}

.icon:hover {
	animation: shake 10.82s cubic-bezier(.36, .07, .19, .97) both infinite;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
  @keyframes shake {
	.76%, 6.84% {transform: translate3d(-1px, 0, 0)}
	1.52%, 6.08% {transform: translate3d(2px, 0, 0)}
	2.28%, 3.8%, 5.32% {transform: translate3d(-4px, 0, 0)}
	3.04%, 4.56% {transform: translate3d(4px, 0, 0)}
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #ffffff; 
	}
}